<footer class="footer">
    <div class="inner">
        <section class="footer-primary">
            <section class="nav">
                {% include navigation.html %}
            </section>
            <section class="contact">
                <div class="fb-page" data-href="https://www.facebook.com/Saving-Grace-Rescue-Inc-131072820282688/" data-tabs="messages" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Saving-Grace-Rescue-Inc-131072820282688/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Saving-Grace-Rescue-Inc-131072820282688/">Saving Grace Rescue Inc</a></blockquote></div>                
            </section>       
            <section class="events">
                <p>
                    San Francisco, CA and Olympia, WA.
                </p>
            </section>
        </section>
        <section class="footer-secondary">
                <p>&copy; Copyright {{ site.time | date: '%Y' }} All rights reserved {{ site.name }}.</p>
        </section>        
    </div>
</footer>