.get-involved {
    .buttons {
        text-align: center;
        .subscribe, .donate {
            .btn {
                width: 100%;
            }
        }

        h3 {
            margin: 1em 0;
            font-family: $font-copy;
            display: inline-block;
            position: relative;
            padding: 1em;

            &:before,
            &:after {
                background: darken($accent-color1,10%);
                content: "";
                display: block;
                height: 1px;
                position: absolute;
                top: 50%;
                width: 100%;
            }

            &:before {
                right: 100%;
            }

            &:after {
                left: 100%;
            }            
        }

        .subscribe {
            .btn {
                margin-top: 1em;
            }
        }
    }
}