.index {
    .eyecatcher {
        h1:first-child {
            margin: 1.6em 0 0 0;
        }
    }

    .ctas {
        display: flex;

        &>li {
            @include span-columns(4);
            text-align: center;
            border: 1px solid #eee;
            border-radius: .3em;
            padding: .5em .2em 4em .2em;
            position: relative;

            a {
                display: block;
                overflow: hidden;

                header {
                    height: 12em;
                    position: relative;
                    z-index: 10;
                    text-indent: -9999px;
                    transition: all .5s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }

                    img {
                        width: 100%;
                        margin-bottom: 1em;
                    }
                }

                &:last-child {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }

            &.adoption {
                header {
                    background: url('/images/cta1.jpg') no-repeat;
                    background-size: cover;
                }
            }

            &.get-involved {
                header {
                    background: url('/images/cta2.jpg') no-repeat;
                    background-size: cover;
                }
            }

            &.about {
                header {
                    background: url('/images/cta3.jpg') no-repeat;
                    background-size: cover;
                }
            }

            h2 {
                text-align: center;
            }
        }
    }    
}