body {
    font-size: 125%;
    font-family: $font-copy;
    color: $accent-color1;
}

.content, .inner {
    @include outer-container(58em);
}

.wrapper > section > section {
    padding: 2em;

    h2 {
        text-align: center;
    }
}

h1, h2, h3, h4, h5 {
    font-family: $font-heading;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin-bottom: .5em;
}

h3 {
    font-size: 1.5em;
    border-bottom: 1px solid $accent-color1;
    padding: 0 0 .5em 0;
    margin-bottom: .5em;
}

p {
    line-height: 1.8em;
    margin-bottom: 1em;
}

ul {
    margin: 1em 0 1em 2em;
    list-style: disc;

    li {
        padding: 0 0 .5em 0;
        line-height: 1.6;
    }
}

img {
    &.small {
        width: 20em;
    }
}

flt-left {
    float: left;
}

flt-right {
    float: right;
}

a.btn {
    padding: 25px 4em;
    background-color: $accent-color2;
    color: $accent-color1;
    text-decoration: none;
    display: inline-block;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: lighten($accent-color2,20%);
    }

    &.outline {
        padding: 20px 4em;
        background: transparent;
        border: 5px solid $accent-color2;
        color: $accent-color2;

        &:hover {
            background-color: lighten($accent-color2,20%);
            border-color: lighten($accent-color2,20%);
            color: $accent-color1;
        }        
    }

    &.large {
        font-size: 1.2em;
    }
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.primary {
    @include outer-container(58em);
    padding: 2em 0;    
}